.list {
  display: flex;
  padding: 20px;
  list-style: none;
  border-bottom: 2px gray solid;
  margin: 0 auto;
}

a {
  text-decoration: none;
  margin-right: 30px;
  color: black;
}

.active {
  color: brown;
  font-family: 20px;
}
